/* Reset some basic styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ebedc0;
}

/* Container styling */
.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 50px;
    background-color: rgb(239, 237, 168);
    box-shadow: 0 0 10px rgba(214, 2, 2, 0.1);
    border-radius: 8px;
}

/* Heading styling */
h1 {
    text-align: center;
    color: #0f0e0e;
}

/* Form and input field styling */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    color: #555;
}

input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Highlight input fields on focus */
input[type="number"]:focus {
    border-color: #458bd5;
    outline: none;
}

/* Button styling */
button {
    padding: 10px;
    background-color: #052548;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: #1462b4;
}

/* Total cost paragraph styling */
#totalCost {
    margin-top: 20px;
    font-size: 18px;
    color: #141111;
    text-align: center;
}
